/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #034163;
  color: white;
  text-align: center;
  padding: 20px 0;
}

h1, h2 {
  margin: 0;
}

.filters {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Dish List */
#dishList {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.dish-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s;
}

.dish-card:hover {
  transform: translateY(-5px);
}

.dish-image {
  width: 100%;
  height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: relative;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}


.dish-type {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 24px;
}

.dish-info {
  padding: 15px;
}

.dish-name {
  font-size: 1.5rem;
  margin: 0 0 10px;
}

.dish-category, .dish-price {
  margin: 5px 0;
  color: #555;
}

/* Responsive Design */
@media (max-width: 768px) {
  .filters {
    flex-direction: column;
    align-items: center;
  }

  .dish-card {
    width: 90%;
  }
}
